td {
    vertical-align: top;
}

li {
    list-style-type: none;
    padding: 5px;
    background-color: aqua;
    /* margin-bottom: 5px; */
    border-bottom: 2px solid white;
}

a {
    text-decoration: none;
}

ul {
    padding: 5px;
}

.pink {
    border: 1px solid red;
    background-color: pink;
}