.bt{
    border: none;
    border-radius: 25px;
    padding: 10px;
    background-color: blue;
    color: white;
    width: 350px;
    margin-left: 40px;
    margin-top: 30px;
  }
  div {
    margin-top: 70px;
  }


  .login {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(103, 102, 102);
    padding: 10px;
    font-size: large;
  }

  .login:focus {
    width: 100%;
    border-top: none;
    outline: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(103, 102, 102);
    padding: 10px;
    font-size: large;
  }

  .remember{
    margin-top:0px ;
  }
